
.footer {
  padding: 4rem 2rem;
  text-align: center;
  border-top: 1px solid var(--border-subtle);
  background: var(--bg-main);
  position: relative;
  z-index: 1;
}

.footer p {
  font-size: 0.8rem;
  color: var(--text-muted);
  letter-spacing: 1px;
     text-shadow:
    0 0 8px rgba(247, 5, 5, 0.9),
    0 0 15px rgba(5, 4, 0, 0.9);
}
/* 